@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
button,
header {
    font-family: "Raleway";
    color: hsl(243, 87%, 12%);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: inline-block;
}

.container {
    max-width: 1100px;
    width: 90%;
    margin: auto;
}

.btn {
    width: 100%;
    color: #fff;
    background: hsl(224, 93%, 58%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}

.input-email {
    width: 100%;
    height: 40px;
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 3px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.input-email::placeholder {
    font-family: "Open Sans";
    color: hsl(0, 0%, 75%);
    font-size: 14px;
    opacity: 0.7;
}

.text-align {
    text-align: center;
    padding: 60px 0 20px;
}

/* Header */

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 80px;
}

header .logo img {
    width: 100px;
}

header .nav-menu {
    display: flex;
}

header li {
    margin-left: 20px;
}

header a {
    color: hsl(238, 22%, 44%);
}

/* Section - a */
.container-a {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.section-a h1 {
    margin: 20px 0;
    font-size: 30px;
}

.section-a p {
    max-width: 500px;
    margin: 30px auto;
    color: hsl(243, 87%, 12%);
}

.section-a .cta-email {
    max-width: 500px;
    margin: 20px auto;
}

/* Section - b */

.section-b {
    background: url("images/bg-curve-mobile.svg") no-repeat center center /
        cover;
    margin-top: 80px;
}

.container-b {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.section-b .inner-content h2 {
    text-align: center;
    margin: 60px 0 30px;
}

.section-b .inner-content p {
    line-height: 1.5;
    margin: 20px 0;
    color: hsl(238, 22%, 44%);
}

.section-b .inner-content .cta-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-b .inner-content .cta-link:after {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 175px;
    border: 1px solid hsl(170, 45%, 43%);
}

.section-b .inner-content .cta-link a {
    color: hsl(170, 45%, 43%);
    margin: 20px 0;
}

.section-b .inner-content .cta-link img {
    height: auto;
    width: 25px;
    margin-left: 5px;
}

.section-b .inner-box {
    background-color: #fff;
    padding: 35px;
    margin: 30px 10px 60px 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.section-b .inner-box img {
    width: 20px;
    height: auto;
}

.section-b .inner-box p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.8;
    color: hsl(243, 87%, 12%);
}

.section-b .box-testimonial {
    display: flex;
    align-items: center;
}

.section-b .box-testimonial img {
    width: 30px;
    height: auto;
    border-radius: 100%;
}

.section-b .box-testimonial-text {
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.section-b .box-testimonial-text strong {
    color: #000;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 14px;
}

.section-b .box-testimonial-text small {
    font-size: 10px;
    display: block;
}

/* Section - c */
.section-c {
    background: hsl(238, 22%, 44%);
    color: #fff;
    padding: 20px;
}

.container-c {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 60px 0;
}

.section-c .left h2 {
    color: #fff;
}

.section-c .left p {
    margin: 30px 0;
    max-width: 400px;
    color: hsl(240, 75%, 98%);
}

.section-c .right {
    width: 100%;
    max-width: 400px;
}

.section-c .right input {
    border: none;
}

/* Footer */
footer {
    background: hsl(243, 87%, 12%);
    padding: 80px 0;
    color: #fff;
}

.container-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

footer .white-logo {
    width: 200px;
    margin-bottom: 30px;
}

footer .icon {
    width: 20px;
    height: auto;
}

footer li {
    padding: 10px 0;
}
footer li img {
    margin-right: 10px;
    fill: #fff;
}

footer a {
    color: #fff;
}

footer .social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

footer .social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    border: 1px solid #fff;
    border-radius: 100%;
}

@media (min-width: 750px) {
    /* Section - a */
    .container-a {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .section-a .left {
        padding-right: 40px;
        width: 100%;
    }

    .section-a .right {
        width: 100%;
    }

    .section-a h1 {
        margin: 20px 0;
        font-size: 35px;
    }

    .section-a p {
        margin: 30px 0;
        max-width: 540px;
    }

    .section-a .cta-email {
        margin: 20px 0;
        display: flex;
        max-width: 480px;
    }

    .section-a .input-email {
        width: 60%;
    }

    .section-a .btn {
        margin-left: 20px;
        width: 40%;
    }

    /* Section - b */
    .section-b {
        background: url("images/bg-curve-desktop.svg") no-repeat center center /
            cover;
    }

    .container-b {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .section-b .left {
        width: 100%;
        padding-right: 40px;
    }

    .section-b .right {
        width: 100%;
    }

    .section-b .inner-content h2 {
        text-align: left;
        font-size: 30px;
    }

    .section-b .inner-content p {
        max-width: 520px;
    }

    .section-b .inner-content .cta-link {
        align-items: center;
        justify-content: flex-start;
    }

    .section-b .inner-box {
        margin: 30px 0 60px 0;
        max-width: 350px;
    }

    /* Section - c */
    .section-c {
        padding: 20px 0;
    }

    .container-c {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        flex-direction: row;
        padding: 60px 0;
    }

    .section-c .left {
        width: 60%;
        padding-right: 40px;
    }

    .section-c .left h2 {
        font-size: 30px;
    }

    .section-c .left p {
        margin: 30px 0;
        max-width: 450px;
        color: hsl(240, 75%, 98%);
    }

    .section-c .right {
        width: 40%;
    }

    .section-c .right input {
        max-width: 500px;
    }

    .section-c .right button {
        max-width: 200px;
    }

    /* Footer */

    footer {
        padding: 80px 0 20px;
        font-size: 14px;
    }

    .container-footer {
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    footer .white-logo {
        margin-bottom: 40px;
    }

    footer .social {
        align-items: flex-start;
        justify-content: flex-start;
        align-self: flex-start;
    }

    footer .social a {
        margin: 0 20px 0 0;
    }
}
